{% extends "base.html" %}
{% load static %}

{% block content %}
	<h1 class="documentFirstHeading">Laquibrido</h1>

	<div class="documentByLine">
		<span class="documentAuthor">Publicado Por: <a href="/" title="Acesse Publicado Por">INPE</a></span>
		<?= dataModificacao();?>
	</div>

<p>Este trabalho utiliza recursos computacionais do cluster Laquibrido, mantido pelo LAC/INPE, e adquirido com recursos financeiros do governo brasileiro.</p>
<p>Abaixo é apresentada uma animação feita com o <a href="https://d3js.org/">D3.js</a> para representar a topologia do sistema do cluster. Ao clicar sobre os nodos
	tem-se acesso a uma imagem obtida com a ferramenta <a href="https://linux.die.net/man/1/lstopo">lstopo</a>, apresentando os dispositivos disponíveis em determinada
	partição.
</p>
<p>Mais informações em: <a href="http://www.lac.inpe.br/~celso/LAQUIBRIDO.html" title="Laquibrido">http://www.lac.inpe.br/~celso/LAQUIBRIDO.html</a></p>

	<div id="div-d3" align="center">
		    {% include "cluster/d3-animation.html" %}
	</div>


{% endblock %}