{%extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<h1 class="documentFirstHeading">Laquibrido</h1>

	<div class="documentByLine">
		<span class="documentAuthor">Publicado Por: <a href="/" title="Acesse Publicado Por">INPE</a></span>
		<?= dataModificacao();?>
	</div>

<p>Este trabalho utilizou recursos computacionais do cluster Laquibrido, mantido pelo LAC/INPE, e adquirido com recursos financeiros do governo brasileiro</p>
<p><a href="http://www.lac.inpe.br/~celso/LAQUIBRIDO.html" title="Laquibrido">Cluster</a></p>

{% endblock %}