{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block head_title %}Contact{% endblock %}


{% block content %}
  <h1 class="documentFirstHeading">Contato</h1>

  <div class="documentByLine">
		<span class="documentAuthor">Publicado Por: <a href="/" title="Acesse Publicado Por">INPE</a></span>
  </div>

  <p>Preencha os campos do formulário abaixo e clique no botão CONFIRMAR para finalizar o contato.</p>

  <div class="row">
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-sm-6 col-md-6 center-block">
      <form method="POST" action=".">{% csrf_token %}
        {{form|crispy}}
        <div style="text-align:center;">
      <input class='btn-block' type="submit" style="height:30px;width:50px;" value="{% trans 'Confirmar' %}" />
</div>
      </form>
    </div>
    <div class="col-md-3 col-sm-3"></div>
  </div>

{% endblock %}
