{%extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<h1 class="documentFirstHeading">Sobre</h1>

	<div class="documentByLine">
		<span class="documentAuthor">Publicado Por: <a href="/" title="Acesse Publicado Por">INPE</a></span>
		<?= dataModificacao();?>
	</div>

	<p>Esta plataforma apresenta um esforço do desenvolvimento de um Observatório Virtual que permite a execução remota de aplicações da área de Astronomia.</p>
    <p>O portal oferece versões seriais e paralelas do algoritmo de agrupamento <b>Friends-of-Friends</b>, utilizado para a classificação de objetos astronômicos,
		e o algoritmo para a restauração de imagens utilizando a técnica de <b>Wavelet Filtering.</b>
		Os usuários registrados podem executar quantas execuções desejarem tendo salvas em sua conta os resultados de suas execuções. Ao final de uma execução, 
		o usuário pode realizar o download do arquivo de entrada utilizado, e dos arquivos de saída: um contendo os resultados de seu experimento, e outro
		contendo informações sobre a execução.</p>
    <p>Este projeto foi desenvolvido em colaboração entre O LABAC-INPE e a Informática-UFSM, sendo originalmente implementado por Otávio Migliavacca Madalosso em 2015, como um trabalho de conclusão da graduação em Ciência da Computação na Universidade Federal de Santa Maria (UFSM).</p>
    Posteriormente, o projeto foi continuado por Ana Luisa Solórzano (Ciência da Computação - UFSM) e Vinícius Monego (Engenharia da Computação - UFSM) durante projeto de iniciação científica cotemplados com bolsa PIBIC/INPE.</p>
	<br />

{% endblock %}