{% load staticfiles %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="pt-br" dir="ltr">
  <head>
    <title>INPE/OV</title>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />

	<link rel="shortcut icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon" />
	<link rel="apple-touch-icon" href="{% static 'img/favicon.png' %}"/>

    <link media="screen" href="{% static 'css/plone.css' %}" type="text/css" rel="stylesheet" id="plone-css" />
	<link media="all" href="{% static 'css/main.css' %}" type="text/css" rel="stylesheet" id="main-css" />
	<link media="all" href="{% static 'css/style.css' %}" type="text/css" rel="stylesheet" id="style-css" />

	<link media="all" href="{% static 'css/css-intranet-inpe.css' %}" rel="stylesheet" id="intranet-css" />
	<link media="all" href="{% static 'css/css-menu.css' %}" rel="stylesheet" id="menu-css" />

	<!-- CONTRASTE -->
	<link media="all" href="{% static 'css/css-intranet-inpe-contraste.css' %}" rel="stylesheet" id="intranet-css-contraste" />
	<link media="all" href="{% static 'css/css-menu-contraste.css' %}" rel="stylesheet" id="menu-css-contraste" />

	<script src="{% static 'js/jquery/jquery-1.9.1.js' %}" type="application/javascript"></script>
	<script src="{% static 'js/jquery/jquery.cookie.js' %}" type="application/javascript"></script>
	<script src="{% static 'js/functions.js' %}" type="application/javascript"></script>

    <script>
      function test() {
          if (document.getElementById('id_Algorithm').value == '2') {
              document.getElementById('extra').style.display = 'block';
              document.getElementById('extra2').style.display = 'none';
          } else if (document.getElementById('id_Algorithm').value == '3'){
              document.getElementById('extra').style.display = 'block';
              document.getElementById('extra2').style.display = 'block';
          }else {
              document.getElementById('extra').style.display = 'none';
              document.getElementById('extra2').style.display = 'none';
          }
      }
     </script>
  </head>

  <body>
  	{% include "topo.html" %}
    {% load staticfiles %}
    <div id="main" role="main">
    <div id="plone-content">
        <div id="portal-columns" class="row">

            <!-- RASTRO -->
            <div id="viewlet-above-content">
                <div id="portal-breadcrumbs">
                    <span id="breadcrumbs-you-are-here">
                        Você está aqui:
                        <span>
                            <?= rastro();?>
                        </span>
                    </span>
                </div>
            </div>
				{% include "menu.html" %}

            	<div id="portal-column-content" class="cell width-3:4 position-1:4">
                    <div id="main-content">
                        <div id="content">
                {% block content %}


                {% endblock %}
                        </div>
                    </div>
                </div>

                <div class="clear"><!-- --></div>
				<div id="voltar-topo"><a href="#topo" title="Acesse Voltar para o topo">Voltar para o topo</a></div>

				</div>
			</div>
		</div>
    <div class="clear"><!-- --></div>
	<!-- Footer -->
	{% include "rodape.html"%}

    {% block messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }} alert-dismissable"
                 style="padding: 5px; width: 20%; float:right; text-align: center;">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>{{ message }}</strong>
            </div>
        {% endfor %}
    {% endblock messages %}
  </body>
</html>