{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
      <div class="jumbotron">
          {% if request.user.is_authenticated == false %}
          <a class="btn btn-lg btn-primary" href="{% url 'register_custom' %}" role="button">Registre-se &raquo;</a>
          {% endif %}
        </p>
      </div>

		<h1 class="documentFirstHeading">Plataforma Web para a Execução de Aplicações da área de Astronomia</h1>

		<div class="documentByLine">
			<span class="documentAuthor">Publicado Por: <a href="/" title="Acesse Publicado Por">INPE</a></span>
			<?= dataModificacao();?>
		</div>

		<br><br>
		<p>Portal Web para execução remota de experimentos com algoritmos para processar dados de simulações no campo da Astronomia.</p>
		<p>
		</p>

		<p>
		<strong>Desenvolvido por Otávio Madalosso, Ana Solórzano e Vinícius Monego</strong>
		</p>

{% endblock %}